<div class="dashboard-container">
  <h1 class="dashboard-header">Dashboard</h1>
  <p class="welcome-message">You are logged in!</p>

  <%= form_with url: dashboard_port_search_path, method: :post, class: "search-form" do %>
    <div class="field">
      <%= label_tag :ip, "Enter IP Address:", class: "label" %>
      <%= text_field_tag :ip, nil, class: "input-field" %>
    </div>
    <div class="actions">
      <%= submit_tag "Search Shodan", class: "search-button" %>
    </div>
  <% end %>

  <% if @results %>
    <h2 class="results-header">Results for <%= @ip %></h2>
    <% if @results["error"] %>
      <p class="error-message"><%= @results["error"] %></p>
    <% else %>
      <ul class="results-list">
        <% @results["data"].each do |result| %>
          <li class="result-item">
            <strong>Port:</strong> <%= result["port"] %> <br>
            <strong>Service:</strong> <%= result["transport"] %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>


</div>
