<div class="login-form">
  <h2 class="header">Sign up</h2>
  <div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>

        <div class="field">
        <% password_placeholder = @minimum_password_length ? "Password (#{@minimum_password_length} characters minimum)" : "Password" %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: password_placeholder %>
      </div>
        
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
  
</div>
